<div class="heading-block">
  <h3>
    &Eacute;diter le produit
  </h3>
</div>

<%= render 'form' %>


<div class="row">
        <div class="col-md-6">
<%= link_to 'Afficher le produit', @produit, class: 'btn btn-info btn-lg btn-block' %>

        </div> <!-- /.col -->

        <div class="col-md-6">
<%= link_to 'Liste des produits', produits_path, data: {no_turbolink: true}, class: 'btn btn-secondary btn-lg btn-block' %>
        </div> <!-- /.col -->

 </div> <!-- /.row -->


