<div class="heading-block">
  <h3>
    Nouveau produit
  </h3>
</div>

<%= render 'form' %>


<div class="row">

        <div class="col-md-12">
<%= link_to 'Liste des produits', produits_path, data: {no_turbolink: true}, class: 'btn btn-secondary btn-lg btn-block' %>
        </div> <!-- /.col -->

 </div> <!-- /.row -->

