<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if @order_items.size == 0 %>
  <p class="text-center">
    Votre commande est vide. <%= link_to "Retournez &agrave; la Boutique".html_safe, boutiques_index_path %>, et ajoutez des produits &agrave; votre commande.
  </p>
<% else %>

<div class="col-md-12">
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', produit: order_item.produit, order_item: order_item, show_total: true %>
<hr>
  <% end %>
</div>

<% end %>
