 <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "Boutique", boutiques_index_path %></h1>
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'carts/cart_text' %></h1>
      </div>
    </div>
    <hr>

<div class="row">
  <div class="shopping-cart">
    <%= render "shopping_cart" %>
  </div>
</div>
