

<div class="row">

        <div class="col-md-6">

          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                <u>&Eacute;diter la cat&eacutegorie <%= @categoriesproduit.nomcategorie.upcase %></u>
              </h4>
            </div> <!-- /.portlet-header -->

            <div class="portlet-body">
              <%= render 'form' %>             
            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->	

        </div> <!-- /.col -->

      </div>
<p>
<%= link_to 'afficher la cat&eacutegorie'.html_safe, @categoriesproduit, class: 'btn btn-warning btn-lg' %>
<%= link_to 'Liste des cat&eacutegories'.html_safe, categoriesproduits_path, class: 'btn btn-secondary btn-lg' %>
</p>

