

<div class="row">

        <div class="col-md-6">

          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                <u>Nouvelle cat&eacutegorie</u>
              </h4>
            </div> <!-- /.portlet-header -->

            <div class="portlet-body">
              <%= render 'form' %>             
            </div> <!-- /.portlet-body -->

          </div> <!-- /.portlet -->	

        </div> <!-- /.col -->

      </div>


<%= link_to 'Liste des cat&eacutegories'.html_safe, categoriesproduits_path, class: 'btn btn-secondary btn-lg' %>
