<p id="notice"><%= notice %></p>

<p>
  <strong>Nomcategorie:</strong>
  <%= @categoriesproduit.nomcategorie %>
</p>

<%= link_to 'Edit', edit_categoriesproduit_path(@categoriesproduit) %> |
<%= link_to 'Back', categoriesproduits_path %>
