<div class="layout layout-stack-sm layout-main-left">
  <div class="col-sm-8 layout-main">
    <div class="heading-block">
      <h4> &Eacute;diter le prospect</h4>
    </div>
    <%= render 'form' %>
  </div> <!-- /.col -->
    <div class="col-sm-4 layout-sidebar">
      <div class="heading-block">
        <h4>Navigation</h4>
      </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Afficher la fiche prospect', @prospect, class: 'btn btn-info btn-lg btn-block' %>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      <br>
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Liste des prospects', prospects_path, data: { no_turbolink: true }, class: 'btn btn-success btn-lg btn-block' %>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.col -->     
    </div>





